<div class="row justify-content-center shape-management">
    <div class="col-12">
        <form name="form" role="form" novalidate (ngSubmit)="search()" [formGroup]="form">
            <h2>Shape Management</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_kids">Kids</label>
                            <select class="form-control" id="field_kids" name="kid" formControlName="kid">
                                <option [ngValue]="null">All</option>
                                <option [ngValue]="k" *ngFor="let k of listKids">{{k.login}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="add-new" class="btn btn-primary" (click)="addNew()">
                    <span>Add New</span>
                </button>
                <button type="submit" id="search" class="btn btn-primary">
                    <span >Search</span>
                </button>
            </div>
        </form>
        <hr>
        <h2>Shape List</h2>
        <div class="row table-header">
            <div class="col-lg-2">Name</div>
            <div class="col-lg-2">Shape Category</div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">Requirement's Name</div>
                    <div class="col-lg-3">Value</div>
                    <div class="col-lg-3">Unit</div>
                </div>
            </div>
            <div class="col-lg-1">Area</div>
            <div class="col-lg-1">Kid's Username</div>
            <div class="col-lg-2">Action</div>
        </div>
        <div class="row table-row" *ngIf="listShapeManagement == null || listShapeManagement.length == 0">
            <div class="col-12">No record found</div>
        </div>
        <div class="row table-row" *ngFor="let sm of listShapeManagement;">
            <div class="col-lg-2">{{sm.name}}</div>
            <div class="col-lg-2">{{sm.shapeCategoryName}}</div>
            <div class="col-lg-4">
                <div class="row" *ngFor="let sr of sm.shapeRequirements">
                    <div class="col-lg-6">{{sr.requirementName}}</div>
                    <div class="col-lg-3">{{sr.value}}</div>
                    <div class="col-lg-3">{{sr.unit}}</div>
                </div>
            </div>
            <div class="col-lg-1">{{sm.area ? sm.area : 'N/A'}}</div>
            <div class="col-lg-1">{{sm.kidLogin}}</div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-primary" (click)="edit(sm)">
                    <span>Edit</span>
                </button>
                <button type="button" class="btn btn-danger ml-1" (click)="delete(sm)">
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>
    