.shape-management {
  .table-header {
    background-color: #222;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 700;
    // text-align: center;
  }

  .table-row {
    padding: 5px 0;

    .row {
      border-top: 1px solid #ddd;
    }
    .row:first-child {
      border-top: none;
    }
  }
  .table-row:nth-child(even) {
    background-color: #ddd;

    .row {
      border-top: 1px solid #fff;
    }
    .row:first-child {
      border-top: none;
    }
  }
}
