<div class="row justify-content-center">
    <div class="col-12">
        <form name="form" role="form" novalidate (ngSubmit)="save()" [formGroup]="form">
            <h2 id="jhi-shape-heading">Shape Management</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_name">Shape's Name <b class="text-danger">*</b></label>
                            <input type="text" class="form-control" name="name" id="field_name" formControlName="name"/>
                            <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)">
                                <small class="form-text text-danger"
                                        *ngIf="form.get('name').errors.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_kids">Kids</label>
                            <select class="form-control" id="field_kids" name="kidId" formControlName="kidId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="k.id" *ngFor="let k of listKids">{{k.login}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_shapeCategory">Shape Category <b class="text-danger">*</b></label>
                            <select class="form-control" id="field_shapeCategory" name="shapeCategoryId" formControlName="shapeCategoryId"
                                (ngModelChange)="onShapeCategoryChange($event)" >
                                <option [ngValue]="null"></option>
                                <option [ngValue]="sc.id" *ngFor="let sc of listShapeCategory">{{sc.name}}</option>
                            </select>
                            <div *ngIf="form.get('shapeCategoryId').invalid && (form.get('shapeCategoryId').dirty || form.get('shapeCategoryId').touched)">
                                <small class="form-text text-danger"
                                        *ngIf="form.get('shapeCategoryId').errors.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" *ngIf="listRequirementSet && listRequirementSet.length > 0">
                            <label class="form-control-label" for="field_requirementSet">Requirement Set <b class="text-danger">*</b></label>
                            <select class="form-control" id="field_requirementSet" name="requirementSetId" formControlName="requirementSetId"
                                (ngModelChange)="onRequirementSetChange($event)" >
                                <option [ngValue]="rs.id" *ngFor="let rs of listRequirementSet">{{rs.name}}</option>
                            </select>
                            <div *ngIf="form.get('requirementSetId').invalid && (form.get('requirementSetId').dirty || form.get('requirementSetId').touched)">
                                <small class="form-text text-danger"
                                        *ngIf="form.get('requirementSetId').errors.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-left-0" formArrayName="shapeRequirement" *ngFor="let sr of form.get('shapeRequirement').controls; let i = index;">
                    <label class="form-control-label">{{sr.get('name').value}}</label>
                    <div class="row border-left-0" [formGroupName]="i">
                        <div class="form-group col-lg-6 ">
                            <label class="form-control-label" for="field_value_{{i}}">Value <b class="text-danger">*</b></label>
                            <input type="text" class="form-control" name="value" id="field_value_{{i}}" formControlName="value"/>
                            <div *ngIf="sr.get('value').invalid && (sr.get('value').dirty || sr.get('value').touched)">
                                <small class="form-text text-danger"
                                        *ngIf="sr.get('value').errors.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="sr.get('value').errors.pattern">
                                    This field is numeric only.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 ">
                            <label class="form-control-label" for="field_unit_{{i}}">Unit <b class="text-danger">*</b></label>
                            <input type="text" class="form-control" name="value" id="field_unit_{{i}}" formControlName="unit"/>
                            <div *ngIf="sr.get('unit').invalid && (sr.get('unit').dirty || sr.get('unit').touched)">
                                <small class="form-text text-danger"
                                        *ngIf="sr.get('unit').errors.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="backToListPage()">
                    <span >Back to List</span>
                </button>
                <button type="button" id="cancel-save" [disabled]="form.invalid || isSubmitting" class="btn btn-primary" (click)="submit()">
                    <span jhiTranslate="entity.action.submit">Submit</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="form.invalid || isSaving" class="btn btn-primary">
                    <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
        <div *ngIf="isSubmitted">
            <div class="row">
                <div class="col-lg-3">
                    <label>Area:</label>
                </div>
                <div class="col-lg-9">
                    <div>{{area == null ? 'N/A' : area}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label>Possible Category:</label>
                </div>
                <div class="col-lg-9">
                    <div *ngIf="listOtherIdentify == null || listOtherIdentify.length == 0">N/A</div>
                    <div *ngFor="let pc of listOtherIdentify;">{{pc.otherIdentifyName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
    