<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="requirement">
            <h2><span jhiTranslate="shapeApp.requirement.detail.title">Requirement</span> {{requirement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shapeApp.requirement.name">Name</span></dt>
                <dd>
                    <span>{{requirement.name}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.requirement.formulaKey">Formula Key</span></dt>
                <dd>
                    <span>{{requirement.formulaKey}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/requirement', requirement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
