<div>
    <h2 id="page-heading">
        <span jhiTranslate="shapeApp.areaFormula.home.title">Area Formulas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-area-formula" [routerLink]="['/area-formula/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shapeApp.areaFormula.home.createLabel">
            Create new Area Formula
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="areaFormulas?.length === 0">
        <span jhiTranslate="shapeApp.areaFormula.home.notFound">No areaFormulas found</span>
    </div>
    <div class="table-responsive" *ngIf="areaFormulas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="shapeApp.areaFormula.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operator"><span jhiTranslate="shapeApp.areaFormula.operator">Operator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formulaKey"><span jhiTranslate="shapeApp.areaFormula.formulaKey">Formula Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requirementSetName"><span jhiTranslate="shapeApp.areaFormula.requirementSet">Requirement Set</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let areaFormula of areaFormulas ;trackBy: trackId">
                <td><a [routerLink]="['/area-formula', areaFormula.id, 'view' ]">{{areaFormula.id}}</a></td>
                <td>{{areaFormula.type}}</td>
                <td>{{areaFormula.operator}}</td>
                <td>{{areaFormula.formulaKey}}</td>
                <td>
                    <div *ngIf="areaFormula.requirementSetId">
                        <a [routerLink]="['../requirement-set', areaFormula.requirementSetId , 'view' ]" >{{areaFormula.requirementSetName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/area-formula', areaFormula.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/area-formula', areaFormula.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'area-formula', { outlets: { popup: areaFormula.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="areaFormulas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
