<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="areaFormula">
            <h2><span jhiTranslate="shapeApp.areaFormula.detail.title">Area Formula</span> {{areaFormula.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shapeApp.areaFormula.type">Type</span></dt>
                <dd>
                    <span>{{areaFormula.type}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.areaFormula.operator">Operator</span></dt>
                <dd>
                    <span>{{areaFormula.operator}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.areaFormula.formulaKey">Formula Key</span></dt>
                <dd>
                    <span>{{areaFormula.formulaKey}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.areaFormula.requirementSet">Requirement Set</span></dt>
                <dd>
                    <div *ngIf="areaFormula.requirementSetId">
                        <a [routerLink]="['/requirement-set', areaFormula.requirementSetId, 'view']">{{areaFormula.requirementSetName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/area-formula', areaFormula.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
