<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-area-formula-heading" jhiTranslate="shapeApp.areaFormula.home.createOrEditLabel">Create or edit a Area Formula</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.areaFormula.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                    <div *ngIf="editForm.get('type').invalid && (editForm.get('type').dirty || editForm.get('type').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.areaFormula.operator" for="field_operator">Operator</label>
                    <input type="text" class="form-control" name="operator" id="field_operator"
                           formControlName="operator"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.areaFormula.formulaKey" for="field_formulaKey">Formula Key</label>
                    <input type="text" class="form-control" name="formulaKey" id="field_formulaKey"
                           formControlName="formulaKey"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.areaFormula.requirementSet" for="field_requirementSet">Requirement Set</label>
                    <select class="form-control" id="field_requirementSet" name="requirementSet" formControlName="requirementSetId">
                        <option *ngIf="!editForm.get('requirementSetId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="requirementSetOption.id" *ngFor="let requirementSetOption of requirementsets; trackBy: trackRequirementSetById">{{requirementSetOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('requirementSetId').invalid && (editForm.get('requirementSetId').dirty || editForm.get('requirementSetId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('requirementSetId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
