<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shape-heading" jhiTranslate="shapeApp.shape.home.createOrEditLabel">Create or edit a Shape</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.area" for="field_area">Area</label>
                    <input type="number" class="form-control" name="area" id="field_area"
                           formControlName="area"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.createAt" for="field_createAt">Create At</label>
                    <div class="input-group">
                        <input id="field_createAt" type="text" class="form-control" name="createAt" ngbDatepicker  #createAtDp="ngbDatepicker" formControlName="createAt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('createAt').invalid && (editForm.get('createAt').dirty || editForm.get('createAt').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createAt').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.updateAt" for="field_updateAt">Update At</label>
                    <div class="input-group">
                        <input id="field_updateAt" type="text" class="form-control" name="updateAt" ngbDatepicker  #updateAtDp="ngbDatepicker" formControlName="updateAt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updateAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                           formControlName="isDeleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.shapeCategory" for="field_shapeCategory">Shape Category</label>
                    <select class="form-control" id="field_shapeCategory" name="shapeCategory" formControlName="shapeCategoryId">
                        <option *ngIf="!editForm.get('shapeCategoryId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="shapeCategoryOption.id" *ngFor="let shapeCategoryOption of shapecategories; trackBy: trackShapeCategoryById">{{shapeCategoryOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('shapeCategoryId').invalid && (editForm.get('shapeCategoryId').dirty || editForm.get('shapeCategoryId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('shapeCategoryId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.kid" for="field_kid">Kid</label>
                    <select class="form-control" id="field_kid" name="kid" formControlName="kidId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.createBy" for="field_createBy">Create By</label>
                    <select class="form-control" id="field_createBy" name="createBy" formControlName="createById">
                        <option *ngIf="!editForm.get('createById').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('createById').invalid && (editForm.get('createById').dirty || editForm.get('createById').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('createById').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.updateBy" for="field_updateBy">Update By</label>
                    <select class="form-control" id="field_updateBy" name="updateBy" formControlName="updateById">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shape.requirementSet" for="field_requirementSet">Requirement Set</label>
                    <select class="form-control" id="field_requirementSet" name="requirementSet" formControlName="requirementSetId">
                        <option *ngIf="!editForm.get('requirementSetId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="requirementSetOption.id" *ngFor="let requirementSetOption of requirementsets; trackBy: trackRequirementSetById">{{requirementSetOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('requirementSetId').invalid && (editForm.get('requirementSetId').dirty || editForm.get('requirementSetId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('requirementSetId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
