<div>
    <h2 id="page-heading">
        <span jhiTranslate="shapeApp.shape.home.title">Shapes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shape" [routerLink]="['/shape/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shapeApp.shape.home.createLabel">
            Create new Shape
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shapes?.length === 0">
        <span jhiTranslate="shapeApp.shape.home.notFound">No shapes found</span>
    </div>
    <div class="table-responsive" *ngIf="shapes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="shapeApp.shape.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="area"><span jhiTranslate="shapeApp.shape.area">Area</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createAt"><span jhiTranslate="shapeApp.shape.createAt">Create At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateAt"><span jhiTranslate="shapeApp.shape.updateAt">Update At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDeleted"><span jhiTranslate="shapeApp.shape.isDeleted">Is Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shapeCategoryName"><span jhiTranslate="shapeApp.shape.shapeCategory">Shape Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kidLogin"><span jhiTranslate="shapeApp.shape.kid">Kid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createByLogin"><span jhiTranslate="shapeApp.shape.createBy">Create By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateByLogin"><span jhiTranslate="shapeApp.shape.updateBy">Update By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requirementSetName"><span jhiTranslate="shapeApp.shape.requirementSet">Requirement Set</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shape of shapes ;trackBy: trackId">
                <td><a [routerLink]="['/shape', shape.id, 'view' ]">{{shape.id}}</a></td>
                <td>{{shape.name}}</td>
                <td>{{shape.area}}</td>
                <td>{{shape.createAt | date:'mediumDate'}}</td>
                <td>{{shape.updateAt | date:'mediumDate'}}</td>
                <td>{{shape.isDeleted}}</td>
                <td>
                    <div *ngIf="shape.shapeCategoryId">
                        <a [routerLink]="['../shape-category', shape.shapeCategoryId , 'view' ]" >{{shape.shapeCategoryName}}</a>
                    </div>
                </td>
                <td>
                    {{shape.kidLogin}}
                </td>
                <td>
                    {{shape.createByLogin}}
                </td>
                <td>
                    {{shape.updateByLogin}}
                </td>
                <td>
                    <div *ngIf="shape.requirementSetId">
                        <a [routerLink]="['../requirement-set', shape.requirementSetId , 'view' ]" >{{shape.requirementSetName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shape', shape.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shape', shape.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shape', { outlets: { popup: shape.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="shapes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
