<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shape">
            <h2><span jhiTranslate="shapeApp.shape.detail.title">Shape</span> {{shape.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shapeApp.shape.name">Name</span></dt>
                <dd>
                    <span>{{shape.name}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.shape.area">Area</span></dt>
                <dd>
                    <span>{{shape.area}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.shape.createAt">Create At</span></dt>
                <dd>
                    <span>{{shape.createAt}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.shape.updateAt">Update At</span></dt>
                <dd>
                    <span>{{shape.updateAt}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.shape.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{shape.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.shape.shapeCategory">Shape Category</span></dt>
                <dd>
                    <div *ngIf="shape.shapeCategoryId">
                        <a [routerLink]="['/shape-category', shape.shapeCategoryId, 'view']">{{shape.shapeCategoryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="shapeApp.shape.kid">Kid</span></dt>
                <dd>
                    {{shape.kidLogin}}
                </dd>
                <dt><span jhiTranslate="shapeApp.shape.createBy">Create By</span></dt>
                <dd>
                    {{shape.createByLogin}}
                </dd>
                <dt><span jhiTranslate="shapeApp.shape.updateBy">Update By</span></dt>
                <dd>
                    {{shape.updateByLogin}}
                </dd>
                <dt><span jhiTranslate="shapeApp.shape.requirementSet">Requirement Set</span></dt>
                <dd>
                    <div *ngIf="shape.requirementSetId">
                        <a [routerLink]="['/requirement-set', shape.requirementSetId, 'view']">{{shape.requirementSetName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shape', shape.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
