<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="otherIdentify">
            <h2><span jhiTranslate="shapeApp.otherIdentify.detail.title">Other Identify</span> {{otherIdentify.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shapeApp.otherIdentify.shapeCategory">Shape Category</span></dt>
                <dd>
                    <div *ngIf="otherIdentify.shapeCategoryId">
                        <a [routerLink]="['/shape-category', otherIdentify.shapeCategoryId, 'view']">{{otherIdentify.shapeCategoryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="shapeApp.otherIdentify.otherIdentify">Other Identify</span></dt>
                <dd>
                    <div *ngIf="otherIdentify.otherIdentifyId">
                        <a [routerLink]="['/shape-category', otherIdentify.otherIdentifyId, 'view']">{{otherIdentify.otherIdentifyName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/other-identify', otherIdentify.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
