<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-other-identify-heading" jhiTranslate="shapeApp.otherIdentify.home.createOrEditLabel">Create or edit a Other Identify</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.otherIdentify.shapeCategory" for="field_shapeCategory">Shape Category</label>
                    <select class="form-control" id="field_shapeCategory" name="shapeCategory" formControlName="shapeCategoryId">
                        <option *ngIf="!editForm.get('shapeCategoryId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="shapeCategoryOption.id" *ngFor="let shapeCategoryOption of shapecategories; trackBy: trackShapeCategoryById">{{shapeCategoryOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('shapeCategoryId').invalid && (editForm.get('shapeCategoryId').dirty || editForm.get('shapeCategoryId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('shapeCategoryId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.otherIdentify.otherIdentify" for="field_otherIdentify">Other Identify</label>
                    <select class="form-control" id="field_otherIdentify" name="otherIdentify" formControlName="otherIdentifyId">
                        <option *ngIf="!editForm.get('otherIdentifyId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="shapeCategoryOption.id" *ngFor="let shapeCategoryOption of shapecategories; trackBy: trackShapeCategoryById">{{shapeCategoryOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('otherIdentifyId').invalid && (editForm.get('otherIdentifyId').dirty || editForm.get('otherIdentifyId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('otherIdentifyId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
