<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <h1 class="display-4 text-center">Welcome to Shape Challenge</h1>
        <h1 class="display-4 text-center">Take-home Test</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
                <ul>
                    <li>Please click <a class="success-link" routerLink="shape-management">here</a> to go to Shape management page.</li>
                </ul>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- Kid (login="kid" and password="shapekid").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span >If you want to create account for kid.</span>&nbsp;
                <span>Please click <a class="alert-link" routerLink="register">here</a></span>
            </div>
        </div>

        <p>
            If you have any question, please contact me:
        </p>

        <ul>
            <li>Skype: bkchau</li>
            <li>Email: kvanchau@gmail.com</li>
        </ul>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
