<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shapeRequirement">
            <h2><span jhiTranslate="shapeApp.shapeRequirement.detail.title">Shape Requirement</span> {{shapeRequirement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shapeApp.shapeRequirement.value">Value</span></dt>
                <dd>
                    <span>{{shapeRequirement.value}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.shapeRequirement.unit">Unit</span></dt>
                <dd>
                    <span>{{shapeRequirement.unit}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.shapeRequirement.shape">Shape</span></dt>
                <dd>
                    <div *ngIf="shapeRequirement.shapeId">
                        <a [routerLink]="['/shape', shapeRequirement.shapeId, 'view']">{{shapeRequirement.shapeName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="shapeApp.shapeRequirement.requirement">Requirement</span></dt>
                <dd>
                    <div *ngIf="shapeRequirement.requirementId">
                        <a [routerLink]="['/requirement', shapeRequirement.requirementId, 'view']">{{shapeRequirement.requirementName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shape-requirement', shapeRequirement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
