<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shape-requirement-heading" jhiTranslate="shapeApp.shapeRequirement.home.createOrEditLabel">Create or edit a Shape Requirement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shapeRequirement.value" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                    <div *ngIf="editForm.get('value').invalid && (editForm.get('value').dirty || editForm.get('value').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('value').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('value')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shapeRequirement.unit" for="field_unit">Unit</label>
                    <input type="text" class="form-control" name="unit" id="field_unit"
                           formControlName="unit"/>
                    <div *ngIf="editForm.get('unit').invalid && (editForm.get('unit').dirty || editForm.get('unit').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('unit').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shapeRequirement.shape" for="field_shape">Shape</label>
                    <select class="form-control" id="field_shape" name="shape" formControlName="shapeId">
                        <option *ngIf="!editForm.get('shapeId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="shapeOption.id" *ngFor="let shapeOption of shapes; trackBy: trackShapeById">{{shapeOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('shapeId').invalid && (editForm.get('shapeId').dirty || editForm.get('shapeId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('shapeId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.shapeRequirement.requirement" for="field_requirement">Requirement</label>
                    <select class="form-control" id="field_requirement" name="requirement" formControlName="requirementId">
                        <option *ngIf="!editForm.get('requirementId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="requirementOption.id" *ngFor="let requirementOption of requirements; trackBy: trackRequirementById">{{requirementOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('requirementId').invalid && (editForm.get('requirementId').dirty || editForm.get('requirementId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('requirementId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
