<div>
    <h2 id="page-heading">
        <span jhiTranslate="shapeApp.shapeRequirement.home.title">Shape Requirements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shape-requirement" [routerLink]="['/shape-requirement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shapeApp.shapeRequirement.home.createLabel">
            Create new Shape Requirement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shapeRequirements?.length === 0">
        <span jhiTranslate="shapeApp.shapeRequirement.home.notFound">No shapeRequirements found</span>
    </div>
    <div class="table-responsive" *ngIf="shapeRequirements?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="shapeApp.shapeRequirement.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unit"><span jhiTranslate="shapeApp.shapeRequirement.unit">Unit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shapeName"><span jhiTranslate="shapeApp.shapeRequirement.shape">Shape</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requirementName"><span jhiTranslate="shapeApp.shapeRequirement.requirement">Requirement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shapeRequirement of shapeRequirements ;trackBy: trackId">
                <td><a [routerLink]="['/shape-requirement', shapeRequirement.id, 'view' ]">{{shapeRequirement.id}}</a></td>
                <td>{{shapeRequirement.value}}</td>
                <td>{{shapeRequirement.unit}}</td>
                <td>
                    <div *ngIf="shapeRequirement.shapeId">
                        <a [routerLink]="['../shape', shapeRequirement.shapeId , 'view' ]" >{{shapeRequirement.shapeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shapeRequirement.requirementId">
                        <a [routerLink]="['../requirement', shapeRequirement.requirementId , 'view' ]" >{{shapeRequirement.requirementName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shape-requirement', shapeRequirement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shape-requirement', shapeRequirement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shape-requirement', { outlets: { popup: shapeRequirement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="shapeRequirements?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
