<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-requirement-set-heading" jhiTranslate="shapeApp.requirementSet.home.createOrEditLabel">Create or edit a Requirement Set</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.requirementSet.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shapeApp.requirementSet.shapeCategory" for="field_shapeCategory">Shape Category</label>
                    <select class="form-control" id="field_shapeCategory" name="shapeCategory" formControlName="shapeCategoryId">
                        <option *ngIf="!editForm.get('shapeCategoryId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="shapeCategoryOption.id" *ngFor="let shapeCategoryOption of shapecategories; trackBy: trackShapeCategoryById">{{shapeCategoryOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('shapeCategoryId').invalid && (editForm.get('shapeCategoryId').dirty || editForm.get('shapeCategoryId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('shapeCategoryId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label jhiTranslate="shapeApp.requirementSet.requirements" for="field_requirements">Requirements</label>
                    <select class="form-control" id="field_requirements" multiple name="requirements" formControlName="requirements">
                        <option [ngValue]="getSelected(editForm.get('requirements').value, requirementOption)" *ngFor="let requirementOption of requirements; trackBy: trackRequirementById">{{requirementOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
