<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="requirementSet">
            <h2><span jhiTranslate="shapeApp.requirementSet.detail.title">Requirement Set</span> {{requirementSet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shapeApp.requirementSet.name">Name</span></dt>
                <dd>
                    <span>{{requirementSet.name}}</span>
                </dd>
                <dt><span jhiTranslate="shapeApp.requirementSet.shapeCategory">Shape Category</span></dt>
                <dd>
                    <div *ngIf="requirementSet.shapeCategoryId">
                        <a [routerLink]="['/shape-category', requirementSet.shapeCategoryId, 'view']">{{requirementSet.shapeCategoryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="shapeApp.requirementSet.requirements">Requirements</span></dt>
                <dd>
                    <span *ngFor="let requirements of requirementSet.requirements; let last = last">
                        <a [routerLink]="['/requirement', requirements?.id, 'view' ]">{{requirements.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/requirement-set', requirementSet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
